<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    今天是{{ var }},歡迎光臨。<br/>
    今天值班的有：<br/>
    {% for data in list %} <!--用大括號和百分號刮起來的式控制結構，還有if-->
        <li> {{ data }} </li>
    {% endfor %}

    任務:<br/>    <!--了解一下如何在頁面打印表格，以及如何迭代-->
        <table border="1">
            {% for key,value in task.items() %}   <!--[(key,value),(key,value),(key,value)]-->
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
            {% endfor %}
        </table>

</body>
</html>